.navbar {
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the start and end */
  padding: 0 20px; /* Add padding for spacing */
}

.navbar h1 {
  color: black;
  font-size: 25px;
  margin: 0; /* Remove any default margin */
}

.white_btn {
  padding: 5px 15px; /* Adjust padding to make the button larger */
  margin-right: 20px; /* Increase margin to position it more towards the center */
  font-size: 18px; /* Increase font size */
}

.item_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.item {
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .item {
    flex: 0 0 calc(10% - 10px); /* Adjust the width for larger screens */
  }
}

@media screen and (max-width: 767px) {
  .item {
    flex: 0 0 calc(20% - 10px); /* Adjust the width for smaller screens */
  }
}

.item_image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow-y: auto; /* Use a separate class to set overflow-y */
}

.fixed_button_container {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed_button {
  width: 60px; /* Adjust the width and height to create a circle */
  height: 60px;
  border-radius: 50%; /* This creates a circle */
  background-color: black; /* Sample background color */
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow effect */
}

.search_container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.search_input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
}
